/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
  padding: 30px 0;
}
a {
  color: #0077c0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

@media screen and (min-width: 767px) {
  .card-row {
    margin-bottom: 2em;
  }

  .card {
    min-height: 250px;
  }
}

.jumbotron{
  border-radius: 0;
  background: #021d5b;
  background: -webkit-linear-gradient(left bottom, #0077C0 , #021d5b);
  background: -o-linear-gradient(top right, #0077C0, #021d5b);
  background: -moz-linear-gradient(top right, #0077C0, #021d5b);
  background: linear-gradient(to top right, #0077C0 , #021d5b);
  color: #fff;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.api-console {
  overflow: auto;
  position: relative;
}

.fa-fw {
  width: 1.5em;
  text-align: left;
}

.list-group-item.active {
  background-color: #0077c0;
  border-color: #0077c0;
}

.btn-primary {
  background-color: #0077c0;
  border-color: #0077c0;
}

.btn-tertiary {
  background-color: #fec240;
  border-color: #fec240;
  font-weight: 300;
}

.btn-tertiary:hover {
  background-color: #d48a1d;
  border-color: #d48a1d;
}

.lead {
  color: #fec240;
}

.bg-faded {
  background: #eceeef;
}

tbody {
  font-size: .8em;
}