#%RAML 1.0
title: Worker API
version: 1.0
#baseUri: http://api.samplehost.com
###baseUri: https://api-workers-internal-dev.cloudhub.io/api/1.0
baseUri: https://mocksvc.mulesoft.com/mocks/3421187d-ded2-4fa8-a41a-ccadcd70a470/api/1.0
description: Enables the retreival of Worker (Employee and Distributor) data.
traits:
  pageable: !include traits/pageable.yml
securitySchemes: 
  basic:
    type: Basic Authentication
types:
  Worker: !include schemas/Worker.json
  Workers: !include schemas/WorkerCollection.json
  Error: !include schemas/WorkerError.json
/workers:
  get:
    description: Retrieves all of the workers in the system that match the filtering criteria. Note, paganation applies to the results of this API call. If workerType not specified, first employees are returned and then distributor
    is: [pageable]
    securedBy: [basic]
    queryParameters:
      workerType:
        displayName: workerType
        type: string
        enum: [employee, distributor]
        required: false
      lastEventDateAfter:
        displayName: lastEventDateAfter
        type: string
        required: false
      lastEventDateBefore:
        displayName: lastEventDateBefore
        type: string
        required: false
    responses:
      200:
        headers:
          X-CBI-TotalRecords:
            required: true
          X-CBI-RecordIndex:
            required: true
        body:
          application/json:
            example: !include examples/WorkerCollectionExample.json
      400:
        body:
          application/json:
            schema: Error
            example: !include examples/ErrorExample.json
      401:
        body:
          application/json:
            schema: Error
            example: !include examples/ErrorExample.json
      403:
        body:
          application/json:
            schema: Error
            example: !include examples/ErrorExample.json
      500:
        body:
          application/json:
            schema: Error
            example: !include examples/ErrorExample.json
  /{workerId}:
    get:
      description: Retrieves a single Worker
      securedBy: [basic]
      responses:
        200:
          body:
            application/json:
              schema: Worker
              example: !include examples/WorkerExample.json
        401:
          body:
            application/json:
              schema: Error
              example: !include examples/ErrorExample.json
        403:
          body:
            application/json:
              schema: Error
              example: !include examples/ErrorExample.json
        404:
          body:
            application/json:
              schema: Error
              example: !include examples/ErrorExample.json
        500:
          body:
            application/json:
              schema: Error
              example: !include examples/ErrorExample.json
